<div class="d-flex align-items-center justify-content-center">   
    <h2>Welcome to scheduled tweets</h2>
</div>


<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>